*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.container{
  
  width: 100%;
  min-height: 100vh;
  background: radial-gradient( #1661d7, #1661d7, #24b1f8 );
}
.search{
  padding: 20px 80px;
  
}
.search_form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.search_city{
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  
  min-width: 250px;
  flex-grow: 1;
}
.search_city:hover{
  outline: 4px solid #333;
}
.search_city:focus{
  outline: 4px solid #333;
}
.btnSearch{
  border: none;
  font-size: 20px;
  background: #333;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
}
.btnSearch:hover{
  transform: scale(1.1);
}
.btnSearch:active{
  transform: scale(1);
  
}

.containerWeather{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  min-width: 320px;
}
.content{
  width: 450px;
  background-color: #333;
  border-radius: 30px;
  padding: 10px;
  color: #fff;

}

.head{
  
  background: linear-gradient(30deg, #1661d7, #1661d7, #24b1f8 );
  border-radius: 20px;
  padding: 10px 20px;
  
}

.city{
  text-align: center;
  
}
.city p:nth-child(1){
  font-size: 30px;
  font-weight: bold;
}
.city p:nth-child(2){

  font-size: 20px;
  font-weight: bold;
}
.city p:nth-child(3){
  opacity: .8;
  font-weight: bold;
  
}


.temp{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.temp picture img{
  width: 100px;
} 

.degs{
  display: flex;
  align-items: center;
  
}

.degs p:nth-child(1){
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
  
}
.degs p:nth-child(2){
  opacity: .8;
  font-weight: bold;
  font-size: 20px;
}
.temp_description{
  text-align: center;
  opacity: .8;
}

.today{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breath, 
.rain, 
.humidity{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.breath p:nth-child(2), 
.rain p:nth-child(2), 
.humidity p:nth-child(2){ 
  font-weight: bold;
  font-size: 20px;
}


.days{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.day{
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  text-align: center;
  
}

.day_degs span:nth-child(2){
  opacity: .7;
}



